<div id="<%= dom_id nota %>">
  <p>
    <strong>Cnpj fornecedor:</strong>
    <%= nota.cnpj_fornecedor %>
  </p>

  <p>
    <strong>Nome fornecedor:</strong>
    <%= nota.nome_fornecedor %>
  </p>

  <p>
    <strong>Data:</strong>
    <%= nota.data %>
  </p>

  <p>
    <strong>Numero da nota:</strong>
    <%= nota.numero_da_nota %>
  </p>

  <p>
    <strong>Serie:</strong>
    <%= nota.serie %>
  </p>

  <p>
    <strong>Regime:</strong>
    <%= nota.regime %>
  </p>

  <p>
    <strong>Valor:</strong>
    <%= nota.valor %>
  </p>

  <p>
    <strong>Servicos:</strong>
    <%= nota.servicos %>
  </p>

  <p>
    <strong>Valor final:</strong>
    <%= nota.valor_final %>
  </p>

</div>
